nav {
	background-color: snow;
	padding: auto;
} 

body {
	background-color: #f5f5f5;
}

.navbar-brand {
	position: absolute;
	width: 100%;
	text-align: center;
	margin: 0 auto;
	font-size: 28px;
}

.form-group.s-field {
	width: 300px;
	margin-bottom: 15px;
}

.form-group.s-field.control {
	width: 500px;
}

.form-inline {
	margin-bottom: 15px;
}

.container {
	margin: auto;
	width: 1200px;
	background-color: #f5f5f5;
	margin-top: 55px;
	padding-top: 25px;
	padding-bottom: 20px;
	outline: 1px dashed #c3bbbb;
}

.col-md-2.line {
	width: 50px;
}

.col-md-5.output {
	width: 650px;
	padding-left: 25px;
}

.col-md-5.panel1 {
	width: 450px;
	padding-left: 60px;
}

#line {
	border-left:1px dashed #c3bbbb;
	height:600px;
}

#start, #stop, #clear, #Log, #clip, div[name="func"], #deploy, #delete{
	display:none;
}

#start, #stop, #clear, #clip, #deploy, #delete, label[name="deploy"], label[name="delete"]{
	margin-right: 5px;
}

.label {
	font-size: 95%;
}

textarea {
	resize: none;
	overflow-x: auto;
}

.form-control[readonly] {
	background-color: white;
}

.hint-file {
	margin-top: 5px;
}

.input-group-addon {
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 1px;
	padding-bottom: 1px;
}

#port {
	width: 58px;
}

.panel-default {
	border-width: 1px;
	margin-bottom: 10px;
}

.panel-body {
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
	padding-right: 10px;
	font-size: 13px;
	background-color: rgb(238, 241, 246);
}