<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Remoteku</title>
	<link rel="icon" type="text/css" href="{{url_for('static', filename='img/favicon.png')}}">
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='bower_components/bootstrap/dist/css/bootstrap.min.css') }}">
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/style.css')}}">
</head>
<body>
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<nav class="navbar-header"></nav>
			<a class="navbar-brand">Remoteku - Fast Deploying Service</a>
		</div>
	</nav>
	<div class="container">
		<div class="row">
			<form id="upload-form" method="post" enctype="multipart/form-data">
			<div class="col-md-5 panel1">
				<div class="form-group s-field">
					<label class="control-label">App : </label>
					<div class="input-group">
						<input type="text" class="form-control" name="app" id="app" placeholder="myapp">
						<span class="input-group-btn">
							<button class="btn btn-info" type="button" id="check">Check</button>
						</span>
					</div>
				</div>
				<div class="form-group s-field" id="state" name="func">
					<label class="control-label">Status : </label>
					<div class="input-group">
						<span class='label label-warning' id="app-info">None</span>
					</div>			
				</div>
				<div class="form-group s-field" name="func">
					<label class="control-label">Upload : </label>
					<div class="input-group">
						<label class="btn btn-default" name="deploy">
						<i class="glyphicon glyphicon-plus"></i>&nbsp; Deploy
						<input type="button" id="deploy">
						</label>
						<label class="btn btn-default" name="delete">
							<i class="glyphicon glyphicon-remove-circle"></i>&nbsp; Delete
							<input type="button" id="delete">
						</label>
					</div>
				</div>
				<div class="form-group s-field" name="func">
					<div id="clip">
						<label class="control-label">Remote Address (master branch only) : </label>
						<div class="panel panel-default">
							<div class="panel-body fixed-panel" id="clip-board"></div>
						</div>
					</div>
				</div>
				<div class="form-group s-field" name="func">
					<label class="control-label">Command : </label>
					<div class="input-group">
						<div class="input-group-btn">
							<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" id="list">Action&nbsp;<span class="caret"></span></button>
							<ul class="dropdown-menu">
								<li><a class="dropdown-item" >node server.js</a></li>
								<li><a class="dropdown-item" >npm run dev</a></li>
								<li><a class="dropdown-item" >npm run test</a></li>
							</ul>
						</div>
						<input type="text" class="form-control" id="cmd" placeholder="node server.js">
						<span class="input-group-addon">
							<input type="text" id="port" placeholder="Port">
						</span>
					</div>
				</div>
				<div class="form-group s-field control" name="func">
					<label class="control-label"> Control Panel: </label>
					<div class="input-group">
						<input type="button" class="btn btn-default" value="Start" id="start">
						<input type="button" class="btn btn-default" value="Stop" id="stop">
						<input type="button" class="btn btn-default" value="Clear" id="clear">
					</div>
				</div>
				<div class="form-group s-field" name="func" id="Log">
					<label class="control-label"> Download: </label>
					<div class="input-group">
						<a href="" target="_blank" id="logs" download><u>Access Log</u></a>
					</div>
				</div>

			</div>
			<div class="col-md-2 line">
				<div id="line"></div>
			</div>
			<div class="col-md-5 output">
				<div class="form-group output">
					<label for="output">Output : </label>
					<textarea class="form-control" rows="28" id="show" wrap="off" readonly="true"></textarea>
				</div>
			</div>
			</form>
		</div>
	</div>
	<script src="{{url_for('static', filename='bower_components/jquery/dist/jquery.min.js')}}"></script>
	<script src="{{url_for('static', filename='bower_components/bootstrap/dist/js/bootstrap.min.js')}}"></script>
	<script src="{{url_for('static', filename='js/socket.js')}}"></script>
	<script src="{{url_for('static', filename='js/main.js')}}"></script>
</body>
</html>